* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url(./OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(./Inter-VariableFont_slnt,wght.ttf);
}

html {
  background-color: black;
}

.app {
  background-color: black;
  height: 100vh;
  color: #8E8E8E;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 400;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  margin-bottom: 30vh;
  margin-top: 5vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .logo {
  color: #C3C3C3;
  font-size: 40px;
}

.landing-page .slogan {
  font-size: 32px;
  width: 50vw;
  text-align: center;
}

.landing-page .dragger {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25vw;
  height: 27vh;
}

.landing-page .dragger .inert-photo-icon {
  color: #8E8E8E;
}

.landing-page .dragger .ant-upload-text {
  color: #8E8E8E;
}

.landing-page .dragger .ant-upload-drag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-radius: 3vw;
  background-color: black;
}

.landing-page .dragger .ant-upload-drag .ant-upload-btn {
  height: 100%;
  width: 100%;
  border-radius: 3vw;
  border-width: 10px;
}

.landing-page .dragger .ant-upload-drag .ant-upload-btn .ant-upload-drag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .inert-photo-icon {
  width: 6vw;
  height: 6vw;
}

.ant-modal-mask {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.image-preview {
  width: 100%;
}

.num-of-colors-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.slider {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.palette-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.palette-page .logo {
  color: #C3C3C3;
  font-size: 40px;
}

.palette-page .image-palette-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
}

.palette-page .image-palette-container .palette-image {
  width: 100%;
}

.palette-page .image-palette-container .palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15vh;
}

.palette-page .image-palette-container .palette .palette-color {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'Inter';
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  mix-blend-mode: difference;
}

.palette-page .replace-image-button {
  background-color: #C3C3C3;
  color: black;
}
/*# sourceMappingURL=App.css.map */